<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    {{{body}}}
     <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
