<h1>Reset Password</h1>
<form method="post">
	<div class="form-group">
		<input name="newpassword" class="newp" type="password" placeholder="New Password">
	</div>
	<div class="form-group">
		<input name="confirmpasword" class="conp" type="password" placeholder="Confirm Password">
	</div>
	<input type="submit" value="Update password" class="updatebtn">
</form>
